a {
    text-decoration: none;
}

li {
    list-style: none;
}

.fullyBasic {
    background-color: rgb(242, 223, 255);
}

li .coverImage{
    height: 350px;
    width: 250px;
    object-fit: fill;
    border: solid;
    border-width: 2.5px;
    border-color: rgb(158, 69, 218);
    border-radius: 5px;
}

.flashMsg {
    transform: translateY(-10px);
    height: 30px;
    display: flex;
    background-color: rgb(223, 187, 247);
    color: rebeccapurple;
    font-size: 17px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bookContainer {
    display: grid;
    justify-items: center;
    justify-content: space-around;
    grid-template-columns: 200px 200px 200px 200px;
}
.bookContainer .bookBox .oneBook .bookTitle {
    color: black;
}
#rentButton {
    display: flex;
    justify-items: center;
    align-items: baseline;
}

.paginateArea {
    display: flex;
    justify-content: center;
}
.paginateArea #nums {
    width: 25px;
    height: 25px;
    margin-left: 12.5px;
    margin-right: 12.5px;
}

.paginateArea .numBox {
    width: 25px;
    height: 25px;
    text-align: center;
    color: black;
}

.paginateArea .curnumBox {
    width: 25px;
    height: 25px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

.navbar {
    z-index: 1;
    height: 86px;
    display: inline-block;
    background-color:rgb(223, 187, 247);
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

.navbar .navTitle .navTitlelink {
    color:rebeccapurple;
}

.navbar .currentBox {
    justify-content: space-between;
}

.navbar .currentBox .currentSession {
    color:rgb(0, 0, 0);
    justify-content: space-between;
}

.navTitle {
    display: inline;
}

.navContainer {
    display: inline;
}

.navContainer .navContents {
    display: inline;
}

.navContainer .navContents .navContentslink {
    color: rebeccapurple;
    margin-left: 12.5px;
    margin-right: 12.5px;
}

