a {
    text-decoration: none;
}

li {
    list-style: none;
    cursor: context-menu;
}


#smallTitle {
    font-size: 18px;
}

.coverImage #introImage {
    height: 450px;
    width: 300px;
    object-fit: fill;
    border: solid;
    border-width: 2.5px;
    border-color: rgb(158, 69, 218);
    border-radius: 5px;
    margin-right: 30px;
}

.fullyBasic {
    background-color: rgb(242, 223, 255);
}

li .coverImage{
    height: 350px;
    width: 250px;
    object-fit: fill;
    border: solid;
    border-width: 2.5px;
    border-color: rgb(158, 69, 218);
    border-radius: 5px;
}

.bookinfoContainer .onebookInfo {
    display: flex;
}

.bookinfoContainer .onebookInfo .bookInformation #label{
    font-size: 21px;
    margin-bottom: 12.5px;

}
.flashMsg {
    transform: translateY(-10px);
    height: 30px;
    display: flex;
    background-color: rgb(223, 187, 247);
    color: rebeccapurple;
    font-size: 17px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bookContainer {
    display: grid;
    justify-items: center;
    justify-content: space-around;
    grid-template-columns: 200px 200px 200px 200px;
}

.bookContainer .bookBox .oneBook .titleBox {
    width: 220px;
}

.bookContainer .bookBox .oneBook .bookTitle {
    color: black;
}

#titleText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    color: rebeccapurple;
}

#rentButton {
    display: flex;
    justify-items: center;
    align-items: baseline;
}

.paginateArea {
    display: flex;
    justify-content: center;
}

.paginateArea #nums {
    width: 25px;
    height: 25px;
    margin-left: 12.5px;
    margin-right: 12.5px;
}

.paginateArea .numBox {
    width: 25px;
    height: 25px;
    text-align: center;
    color: black;
}

.paginateArea .curnumBox {
    width: 25px;
    height: 25px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

.navbar {
    z-index: 1;
    height: 86px;
    display: inline-block;
    background-color:rgb(223, 187, 247);
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

.navbar .navTitle .navTitlelink {
    color:rebeccapurple;
}

.navbar .currentBox {
    justify-content: space-between;
}

.navbar .currentBox .currentSession {
    color:rgb(80, 2, 116);
    justify-content: space-between;
    cursor: context-menu;
}

.navTitle {
    display: inline;
}

.navContainer {
    display: inline;
}

.navContainer .navContents {
    display: inline;
}

.navContainer .navContents .navContentslink {
    color: rebeccapurple;
    margin-left: 12.5px;
    margin-right: 12.5px;
}

.mainTitle {
    color: rebeccapurple;
    font-size: 18px;
    cursor: context-menu;
}

#introTitle {
    color: black;
    font-size: 25px;
    cursor: context-menu;
    margin-bottom: 15px;
    margin-top: 15px;
}

.mainContainer .bookIntro .contentsBox {
    margin-left: 25px;
    width: 1450px;
    height: 250px;
    border: solid;
    border-width: 2px;
    border-radius: 10px;
}

.mainContainer .bookIntro #introContents {
    padding: 15px;
    color: black;
    font-size: 18px;
    cursor: context-menu;
}

.comContainer .oneCommentBox{
    border-top: solid;
    border-bottom: solid;
    border-color: azure;
    border-width: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.comContainer .oneCommentBox .oneComment {
    padding-left: 25px;
    padding-right: 25px;    
}

.comContainer .oneCommentBox .oneComment #comContents {
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 16px;
    white-space: pre;
}

.writingCommentBox #writingComments {
    margin-top: 25px;
    height: 140px;
    width: 800px;
    font-size: 17px;
    resize: none;
}

.writingCommentBox #writingCommentsButton {
    margin-left: 25px;
    margin-bottom: 50px;
    transform: translateY(-10px);
    font-size: 18px;
}
