<nav class = "navbar">
    <p class = "navTitle"><a class = "navTitlelink" href = "{{ url_for('main.home') }}">엘리스 도서관입니다.</a></p>
    {% if session['userID'] %}
    <div class = "currentBox">
        <p class = "currentSession">현재 로그인 중: {{session['username']}}</p>
    </div>
    {% endif %}
    <ul class = "navContainer">
        <li class = "navContents"><a class = "navContentslink" href = "{{ url_for('main.history')}}">대여기록</a></li>
        <li class = "navContents"><a class = "navContentslink" href = "{{ url_for('main.bannap')}}">반납하기</a></li>
        {% if homecoming %}
        <li class = "navContents"><a class = "navContentslink" href = "{{ url_for('main.home')}}">홈으로</a></li>
        {% else %}
        {% if session['userID'] %}
        <li class = "navContents"><a class = "navContentslink" href = "{{ url_for('main.logout')}}">로그아웃</a></li>
        {% else %}
        <li class = "navContents"><a class = "navContentslink" href = "{{ url_for('main.login')}}">로그인</a></li>
        {% endif %}
        {% endif %}
    </ul>
</nav>