<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myCSS.css') }}"/>
    <title>{% block title %} {% endblock %}</title>
</head>
<body class = "fullyBasic">
    {% include "_navbar.html" %}
    {% block content %}
    {% for msg in get_flashed_messages() %}
    <div class = "flashMsgBox">
        <div class="flashMsg">
            {{ msg }}
        </div>
    </div>
    {% endfor %}
    {% block page_content %}
    {% endblock %}
    {% endblock %}

    
</body>

<footer>
  엘리스 도서관 본관: AA광역시 BB구 55로 55 083-315-2532 <br>
  엘리스 도서관 분관: AA광역시 CC구 998번길 1 E동 분관 083-872-3167
</footer>
</html>