<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myCSS.css') }}"/>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    {% include "_navbar.html" %}
    {% block content %}
    {% if session['userID'] %}
    <p class = "currentSession">현재 로그인 중: {{session['username']}}</p>
    {% endif %}
    {% for msg in get_flashed_messages() %}
    <div class="flashMsg">
        {{ msg }}
    </div>
    {% endfor %}
    {% block page_content %}
    {% endblock %}
    {% endblock %}
</body>
</html>