{% extends "basic.html" %}
{% block title %} 책 소개 페이지 {% endblock %}
{% block page_content %}
{% if book_info %}
<div class = "bookInfo">
    <ul>
      <li>책이름 {{book_info.book_name}}</li>
      <li>출판사 {{book_info.publisher}}</li>
      <li>저자 {{book_info.author}}</li>
      <li>출간일 {{book_info.publication_date}}</li>
      <li>페이지 수 {{book_info.pages}}</li>
      <li>ISBN 코드 {{book_info.isbn}}</li>
    </ul>
</div>
<div class = "mainContainer">
  <div class = "bookIntro">
    <p>책 소개</p>
    <article>{{book_info.description}}</article>
  </div>
  <div class = "comContainer">
    <p>댓글</p>
    {% for comment in user_comments %}
    <ul>
        <li>작성자 {{comment.username}}</li>
        <li>내용 {{comment.comments}}</li>
    </ul>
    <button type = "submit" 
    id = "deletingComments_{{comment.id}}" 
    name = "deletingComments_{{comment.id}}" 
    onclick = "location.href = '/deleting/{{book_info.id}}/{{comment.id}}'">댓글 삭제</button>
    {% endfor %}
    <label>댓글 작성</label> <br>
    <form method = "post">
    <input type = "text" id = "writingComments" name = "writingComments">
    <button type = "submit" 
    id = "writingComments_{{book_info.id}}" 
    name = "writingComments_{{book_info.id}}">작성하기</button>
    </form>    
    </div>
</div>
{% else %}
<p>올바르지 못한 접근입니다.</p>
{% endif %}
{% endblock %}