{% extends "basic.html" %}
{% block title %} 책 소개 페이지 {% endblock %}
{% block page_content %}
{% if book_info %}

<div class = "bookinfoContainer">
    <ul class = "onebookInfo">
      <div class ="coverImage">
      <li>
        <img
        id = "introImage"
        src = "{{url_for('static', filename = 'book_img')}}/{{book_info.id}}.jpg" 
        alt = "{{book_info.book_name}}"
        >
      </li>
      </div>
      <div class = "bookInformation">
      <li id = "label">책이름: {{book_info.book_name}}</li>
      <li id = "label">출판사: {{book_info.publisher}}</li>
      <li id = "label">저자: {{book_info.author}}</li>
      <li id = "label">출간일: {{book_info.publication_date}}</li>
      <li id = "label">페이지 수: {{book_info.pages}}</li>
      <li id = "label">ISBN 코드: {{book_info.isbn}}</li>
      </div>
    </ul>
</div>
<div class = "mainContainer">
  <div class = "bookIntro">
    <p id = "introTitle">책 소개</p>
    <div class = "contentsBox">
    <article id = "introContents">{{book_info.description}}</article>
    </div>
  </div>
  <div class = "comContainer">
    <p id = "introTitle">댓글 ({{counter}})</p>
    {% for comment in user_comments %}
    <div class = "oneCommentBox">
    <ul class = "oneComment">
        <li id = "comContents">작성자: {{comment.username}}</li>
        <li id = "comContents">{{comment.comments}}</li>
        <li id = "comContents">평점: {{comment.rank}}</li>
        <li id = "comContents">{{comment.writingtime.replace(microsecond = 0)}}에 작성됨</li>
        <li id = "comContents"><button type = "submit" 
        id = "deletingComments_{{comment.id}}" 
        name = "deletingComments_{{comment.id}}" 
        onclick = "location.href = '/deleting/{{book_info.id}}/{{comment.id}}'">댓글 삭제</button></li>
    </ul>
    </div>
    {% endfor %} <br>
    <div class = "writingCommentBox">
    <form method = "post">
    <p id = "introTitle">댓글 작성</p>
    <label id = "smallTitle">평점</label>
    <input 
    type = "range" 
    id = "bookRank" 
    name = "bookRank" 
    value = 0 min = 0 max = 5 step = 1
    oninput = "document.getElementById('livescore').innerHTML=this.value;">
    <span id = "livescore">0</span> <br>
    <textarea id = "writingComments" name = "writingComments" required></textarea>
    <button type = "submit" 
    id = "writingCommentsButton" 
    name = "writingComments_{{book_info.id}}">작성하기</button>
    </form>
    </div>    
    </div>
</div>
{% else %}
<p>올바르지 못한 접근입니다.</p>
{% endif %}
{% endblock %}