{% extends "basic.html" %}
{% block title %} 책 소개 페이지 {% endblock %}
{% block page_content %}
{% if book_info %}
<div class = "bookinfoContainer">
    <ul class = "onebookInfo">
      <div class ="coverImage">
      <li>
        <img
        id = "introImage"
        src = "{{url_for('static', filename = 'book_img')}}/{{book_info.id}}.jpg" 
        alt = "{{book_info.book_name}}"
        >
      </li>
      </div>
      <div class = "bookInformation">
      <li id = "label">책이름: {{book_info.book_name}}</li>
      <li id = "label">출판사: {{book_info.publisher}}</li>
      <li id = "label">저자: {{book_info.author}}</li>
      <li id = "label">출간일: {{book_info.publication_date}}</li>
      <li id = "label">페이지 수: {{book_info.pages}}</li>
      <li id = "label">ISBN 코드: {{book_info.isbn}}</li>
      </div>
    </ul>
</div>
<div class = "mainContainer">
  <div class = "bookIntro">
    <p>책 소개</p>
    <article>{{book_info.description}}</article>
  </div>
  <div class = "comContainer">
    <p>댓글</p>
    {% for comment in user_comments %}
    <ul>
        <li>작성자 {{comment.username}}</li>
        <li>내용 {{comment.comments}}</li>
        <li>평점 {{comment.rank}}</li>
        <li><button type = "submit" 
        id = "deletingComments_{{comment.id}}" 
        name = "deletingComments_{{comment.id}}" 
        onclick = "location.href = '/deleting/{{book_info.id}}/{{comment.id}}'">댓글 삭제</button></li>
    </ul>
    {% endfor %} <br>
    <label>댓글 작성</label> <br>
    <form method = "post">
    <input type = "text" id = "writingComments" name = "writingComments">
    <label>평점</label><input type = "range" id = "bookRank" name = "bookRank" value = 0 min = 0 max = 5 step = 1>
    <button type = "submit" 
    id = "writingComments_{{book_info.id}}" 
    name = "writingComments_{{book_info.id}}">작성하기</button>
    </form>    
    </div>
</div>
{% else %}
<p>올바르지 못한 접근입니다.</p>
{% endif %}
{% endblock %}