{% extends "basic.html" %}
{% block title %} 엘리스 도서관 대여 기록 페이지 {% endblock %}
{% block page_content %}
    {% if rent_history %}
    <p class = "mainTitle">{{ user_info.username }}님의 대여기록입니다.</p>
    <button  
    onclick = "location.href = '/history/delete'">대여기록 삭제</button>
    <div class = "bookContainer">
      {% for history in rent_history %}
      <div class = "bookBox">
      <ul class = "oneBook">
        <li>
          <img
          class = "coverImage" 
          src = "{{url_for('static', filename = 'book_img')}}/{{history.book_id}}.jpg"
          alt = "{{history.book_name}}">
        </li>
        <li class = "titleBox"><div class = "booktitle"><div id = "titleText">{{ history.book_name }}</div></div></li>
        <li class = "historyAvgscore">{{history.avg_rank | round(0)}}</li>
        {% if history.Rdate %}
        <li>{{ history.Ldate }} ~ {{ history.Rdate }}</li>
        {% else %}
        <li>대여일: {{ history.Ldate }} (대여 중)</li>
        {% endif %}
      </ul>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p class = "mainTitle">{{user_info.username}}님의 대여 기록이 없습니다.</p>
    {% endif %}
<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/star_history.js') }}"></script>
{% endblock %}