{% extends "basic.html" %}
{% block title %} 로그인하기 {% endblock %}
{% block page_content %}
    <p class = "mainTitle">엘리스 도서관 멤버십 로그인</p>
    <form class = "IForm" action = "{{ url_for('main.login') }}" method = "post">
        ID : <br>
        <input type = "email" id = "userID" name = "userID" ><br>
        Password : <br>
        <input type = "password" name = "userPW" ><br>
        <button type = "submit" class = "LoginButton">LOGIN</button>
    </form>
    <a href = "{{ url_for('main.submit' )}}">회원가입</a>
{% endblock %}