{% extends "basic.html" %}
{% block title %} 엘리스 도서관 대여 시스템 {% endblock %}
{% block page_content %}
    <div class = "mainUpperBox"><p class = "mainTitle">엘리스 도서관 도서 목록</p></div>
    {% if book_list %}
    <div class = "bookContainer">
        {%for book in book_list.items %}
        <div class = "bookBox">
        <ul class = "oneBook">
          <li><a href = "/book_intro/{{book.id}}">
            <img
             class = "coverImage"
             src = "{{url_for('static', filename = 'book_img')}}/{{book.id}}.jpg" 
             alt = "{{book.book_name}}"
             ></a></li>
          <li class = "titleBox"><a class = "bookTitle" href = "/book_intro/{{book.id}}"><div id = "titleText">{{ book.book_name }}</div></a></li>
          <li>평점: {{ book.avg_rank }}</li>
          <li>{{ book.left }}권 남음</li>
          <button 
          type = "submit" 
          id = "rentButton" 
          name = "{{book.id}}" 
          onclick = "location.href = 'b/{{book.id}}'">대여하기</button>
        </ul>
        </div>
        {% endfor %}
    </div>
    <div class = "paginateArea">
      {% for page in book_list.iter_pages() %}
      {% if page %}
        {% if page != book_list.page %}
          <!-- 페이지 이동 할 때의 동작-->
            <a id = "nums" href="{{ url_for('main.home', page=page) }}"><div class = "numBox">{{ page }}</div></a>
        {% else %}
          <!-- 페이지 이동 후 해당 페이지를 하이라이트하여 표시-->
            <a id = "nums" href="{{ url_for('main.home', page=page) }}"><div class = "curnumBox">{{ page }}</div></a>
        {% endif %}
      {% endif %}
    {% endfor %}
    </div>
    </div>
    {% else %}
        <p>비정상적인 접근입니다.</p>
    {% endif %}
{% endblock %}